@{
  Layout = "_Layout";
}

@using Bakery.Models;

<h3>Order NO. @Model["order"].OrderNumber</h3>
<h5>Vendor Name:  <a href='@Html.Raw("/vendors/" + $"{Model["vendor"].Id}")'>@Model["vendor"].Name</a></h5>

@foreach (KeyValuePair<string,int> item in @Model["cart"])
  {
    <li><span>@item.Key</span> <span>Amt: @item.Value</span> </li>
  }
  <li>Total: $@Model["order"].OrderTotal</li>
  <li>Date: @Model["order"].OrderDate</li>