@{
  Layout = "_Layout";
}

@using Bakery.Models;

<h3>Orders</h3>
<h5>Vendor Name:  <a href='@Html.Raw("/vendors/" + $"{Model["vendor"].Id}")'>@Model["vendor"].Name</a></h5>

@if (@Model["orders"].Count == 0)
{
  <p>No orders yet</p>
}

@foreach (Order order in @Model["orders"])
{
  <li>Total: $@order.OrderTotal</li>
  <li>Date: @order.OrderDate</li>
  <li> Order No. @order.OrderNumber</li>
}